.container{
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  color: var(--cor-p5);
  text-transform: uppercase;
  background: linear-gradient(#ffbf00, #f2a407);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}


@media (max-width: 600px){
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
.link {
  display: inline-block;
  text-transform: uppercase;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "poppins", sans-serif;
}
.link::after {
  display: block;
  background-color: currentColor;
  content: "";
  width: 100%;
  height: 4px;
}

.link:hover {
  color: var(--cor-0);
}